<div class="tyusen-top">
    <h2>抽選に参加する</h2>
</div>

<div class="qrcode-area">
    <%= image_tag qrcode_tag(@qr), class: "qrcode-img" %>
</div>

<div class="tyusen-explanation">
    <table>
        <caption>当選景品</caption>
        <thead>
            <th>獲得スタンプ数</th>
            <th>当選景品</th>
        </thead>
        <tbody>
            <tr>
                <td>1個</td>
                <td>参加賞</td>
            </tr>
            <tr>
                <td>2~4個</td>
                <td>参加賞<br>中間</td>
            </tr>
            <tr>
                <td>5個</td>
                <td>参加賞<br>中間<br>豪華</td>
            </tr>
        </tbody>
    </table>
</div>