<% if !@checkv.blank? %>
<div class="check-prize-area">
<div class="check-prize-area-text">
総来場者数：<%= @htin.count %>
</div>
<div class="check-prize-area-text">
現在の来場者数：<%= @hin.count %>
</div>
</div>
<% end %>
