<div class="support">
    <h2 style="padding:4vh;">【修正済】友情ポイントが付与されない不具合について</h2>    

    <p>日頃より、MMMFをご利用いただき、誠にありがとうございます。<br>
MMMFにおいて友情ポイントが付与されない、という不具合が発生していたことが発覚いたしました。<br>
<br>
<br>
 <br>
現在は不具合は修正され、正常にポイントが付与される様になっております。<br>
また、すでに友情登録をされている方に関しましても、ポイント付与をさせていただきました。
<br>
 <br>
<br>
皆様には大変ご迷惑をおかけしておりますこと、深くお詫び申し上げます。
<br>
今後とも変わらぬご愛顧を賜りますよう、よろしくお願い申し上げます。</p>

</div>