<div class="contact">
    <h2 style="padding:4vh;">お問い合わせ先</h2>    
    <p>
        問い合わせや不具合の報告などは<br>
        お電話・メール・役員本部室から承っております。<br>
        お気軽にお問い合わせください。
    </p>

    <p>
        TEL(Act代表)：<a href="tel:070-8988-2832">070-8988-2832</a><br>
        MAIL：<a href="mailto:info@act-neec.org">info@act-neec.org</a><br>
        役員本部室：1号館クラブハウス棟10207教室
    </p>
    <p>
        ※不具合の報告の場合は、<br>
        どのページで<br>
        どんな操作をして<br>
        どうなったか<br>
        など詳細にお教え頂ければ幸いです。
    </p>

</div>