<div class="support">
    <h2 style="padding:4vh;">お問い合わせ先</h2>    

    <h5>不具合を見つけた場合や、<br>問題を解いてもポイントが<br>もらえなかった場合、<br>ご不明点などがございましたら<br>以下までご連絡ください</h5>
    <p>TEL(Act代表)：<a href="tel:070-8302-1879">070-8302-1879</a><br>
    MAIL：<a href="mailto:info@act-neec.org">info@act-neec.org</a><br>
    役員本部室：1号館クラブハウス棟10207教室<br>
    <br>
    
    <p>※不具合の報告の場合は、<br>どのページで<br>どんな操作をして<br>どうなったか<br>など詳細にお教え頂ければ幸いです。</p>

</div>