

<div class="support-board">
<p>ログイン</p>
	<div class="support">
		<div class="actab">
			<input id="tabfour021" type="checkbox" name="tabs">
			<div class="plus">+</div>
			<label for="tabfour021">質問テキスト</label>
			<div class="actab-content">答えテキスト</div>
		</div>
		<div class="actab">
			<input id="tabfour022" type="checkbox" name="tabs">
			<div class="plus">+</div>
			<label for="tabfour022">質問テキスト 質問テキスト</label>
			<div class="actab-content">答えテキスト</div>
		</div>
		<div class="actab">
			<input id="tabfour023" type="checkbox" name="tabs">
			<div class="plus">+</div>
			<label for="tabfour023">質問テキスト 質問テキスト</label>
			<div class="actab-content">答えテキスト</div>
		</div>
	</div>
</div>