<main class="errors">
    <h1 class="errors-title">500 Internal Server Error</h1>
    <h2 class="errors-title2">お探しのページが見つかりませんでした</h2>
    <p class="errors-p">
    サーバー側のエラーです。<br>
    時間を空けても解決しない場合<br>こちらにご連絡くださいm(_ _)m<br style="display: block;content: '';margin-bottom: 15px;">
    TEL(Act代表)：<a href="tel:070-8988-2832">070-8988-2832</a><br>
    MAIL：<a href="mailto:info@act-neec.org">info@act-neec.org</a><br>
    役員本部室：1号館クラブハウス棟10207教室
    </p>
    <a href="javascript:history.back()">戻る</a><br style="display: block;content: '';margin-bottom: 3%;">
</main>