<% if @prize != nil %>
<div class="congrats">
    <p class="congrats_title">当選のお知らせ</p>
    <p>この度はMMMFにご参加いただき<br>誠にありがとうございます！<br>
    抽選の結果、<span class="prize_name"><%= @prize.prize %></span>に当選しました！<br>
    会場で景品を受け取っていない方は<br>以下にお問い合わせください。<br>
    
    <p>TEL(Act代表)：<a href="tel:070-8302-1879">070-8302-1879</a><br>
    MAIL：<a href="mailto:info@act-neec.org">info@act-neec.org</a><br>
    役員本部室：1号館クラブハウス棟10207教室<br>
</div>
<% end %>
<div style="text-align: center">
<%= link_to image_tag('/images/act.png', class: "banner"), "https://www.act-neec.org/about.html" %>
</div>
