<div class="Page-Areas">
  <div class="Page-Titles">
  管理画面
  </div>
  <div class="Page-Text">
  オリエンテーションサポートサービス「MMMF」管理画面です<br>
  以下、権限により表示される項目が異なります
  </div>
  <div class="Dashboard">
  <div class="Dashboard-DoubleGroup">
    <div class="Select-botun-home">
    <a href="/problems/new">問題作成</a>
    </div>
    <div class="Select-botun-home">
    <a href="/problems">問題一覧</a>
    </div>
    <div class="Select-botun-home">
    <a href="/users">ユーザー管理</a>
    </div>
    <div class="Select-botun-home">
    <a href="/homes/lottery_student_list">抽選券印刷</a>
    </div>
  </div>
  <div class="Dashboard-DoubleGroup">
    <div class="Select-botun-home">
    <a href="/distributions">配布ポイント管理</a>
    </div>
    <div class="Select-botun-home">
    <a href="/prizes">当選者一覧</a>
    </div>
    <div class="Select-botun-home">
    <a href="/site_infos">アクセス管理</a>
    </div>
  </div>
  </div>
</div>