/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";


// Devise用

* {
    margin: 0px;
    // padding: 0px;
    text-decoration: none;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

body{
    background-color: #ebebeb;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
  }
  
 .Page-Area{
	margin: auto;
	margin-top: 3%;
	width: 100%;
	margin-bottom: 10%;
 } 
 .Page-Title{
	width: auto;
	height: auto;
	display: block;
	font-size: 5vw;
    text-align: center;

 }
 .Page-SubTitle{
	width: auto;
	height: auto;
	display: block;
	font-size: 2.5vw;
    text-align: center;

 }
 .Page-Title .Title-Line{
    width: auto;
    border-bottom: dotted 1px #2d2d2d;
    margin: auto;
    margin-bottom: 2%;
}
.Text-Area{
	margin: auto;
    padding: 2%;
	width: auto;
    height: auto;
	margin-bottom: 5%;
    border: 2px solid #2d2d2d;
    border-radius: 5px;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
 } 
 .Select-Area{
	margin: auto;
    padding: 5%;
	width: 90%;
    height: auto;
	margin-bottom: 5%;
    border-radius: 5px;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
 } 
 .Select-botun{
	margin: auto;
	width: 90%;
    height: auto;
	margin-bottom: 5%;
    border: 2px solid #2d2d2d;
    border-radius: 10px;
    background-color: #fff;
    font-size: 30px;
    text-align: center;
 } 
 .Select-botun > a{
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #2d2d2d;
    background-color: #fff;
}
@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
.Page-Title{
    font-size: 10vw;
    }
.Page-SubTitle{
    font-size: 5vw;
    }
}

// PrizeList
.snow {
    color: black; /*雪の色*/
    font-size: 2rem; /*雪の大きさ*/
    position: fixed;
    top: -5%; /*初期位置*/
    text-shadow:
    5vw   -100px 2px,
    10vw  -400px 3px,
    20vw  -500px 4px,
    30vw  -580px 1px,
    39vw  -250px 2px,
    42vw  -340px 5px,
    56vw  -150px 2px,
    63vw  -180px 0,
    78vw  -220px 4px,
    86vw  -320px 9px,
    94vw  -170px 7px;
    animation: anim 5s linear infinite;
  }
  
  @keyframes anim {
    100% {
      color: transparent;
      top: 150%;
    }
  }
  .all-page-area{
      background-color: #9D242D;
      color: #FFF;
      font-family: 'Sawarabi Gothic', sans-serif;
      background-image: linear-gradient(0deg, transparent 31.7px, #FFF 32px), linear-gradient(90deg,  transparent 31.7px, #FFF 32px);
      background-size: 32px 32px;
      padding-bottom: 20vh;  
  }
  .all-page-title{
      margin: auto;
      padding-top: 10%;
      padding-bottom: 10%;
      text-align: center;
      width: 80%;
      font-size: 5vw;
      font-weight: bold;
  }
  .all-page-title-sub{
      font-size: 5vw;
  }
  .all-page-title-subtext{
      font-size: 2.5vw;
      font-weight: lighter;
      margin-bottom: 5%;
  }
  .all-page-title-subtext2{
      padding-top: 2%;
      font-size: 4vw;
      font-weight: lighter;
  }
  .prizies-area{
      margin: auto;
      height: auto;
      padding: 2%;
      width: 95%;
  }
  .prize-category{
      margin: auto;
      margin-bottom: 5%;
      color: #FFFFFF;
      background-color: #8F2028;
      padding: 2%;
      width: 40%;
      text-align: center;
      font-size: 4vw;
      font-weight: bold;
  }
  .prizies-Group{
      margin-top: 3%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap; /* 折返し指定 */
  }
  .s-prizies{
      width: 45%;
      margin-bottom: 4%;
  }
  .b-prizies{
      width: 30%;
      margin-bottom: 4%;
  }
  .prize{
      position: static;
  }
  .prize-image{
      margin: auto;
      width: 100%;
      height: auto;
  }
  .prize-image img {
  width:100%;
  max-width: 100%;
  height: auto;
  filter: drop-shadow(6px 5px 0px #2d2d2d);
  }
  .prize-name{
      margin-top: -20px;
      background-color: #FFF;
      width: auto;
      border: solid #27272B;
      position: relative;
      top: 100%;
      left: -4%;
      color: #27272B;
      padding: 2%;
      margin-bottom: 2%;
  }
  .prize-name-text1{
      font-size: 3vw;
  }
  .prize-name-text2{
      font-size: 1vw;
  }
  .b-prize-name-text1{
      font-size: 3vw;
  }
  .b-prize-name-text2{
      font-size: 1vw;
  }
  .prize-pics{
      margin: auto;
      padding: 3%;
      text-align: center;
      width: 50%;
      background-color: #EBA02B;
      border-radius: 50px;
      border: solid 1px #27272B;
      font-size: 3vw;
      filter: drop-shadow(3px 4px 0px #2d2d2d);
      color: #2d2d2d;
  }
  .all-page-Text{
      margin: auto;
      text-align: center;
      font-size: 6vw;
      font-weight: bold;
      margin-bottom: 3%;
  }
  .all-page-Text-sub{
      margin: auto;
      text-align: center;
      font-size: 3vw;
      font-weight: bold;
  }

.push {
    padding: 7rem 0;
}
header {
    background-color: #2D2D2D;
}

.navbar-light .navbar-brand {
    color: white;
}
.navbar .navbar-nav .active > .nav-link {
    color: white;
}
.navbar .navbar-nav .active > .nav-link:hover {
    transition: 0.2s;
    color: rgb(235, 148, 148);
}

// 画面が小さい時
@media screen and (max-width: 700px) {

    #footer {
        text-align: center;
        background-color: white;
        width: 100%;
        padding-top: 5%;
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        display: table;
        box-shadow: 2px 0 6px 0  rgba(0, 0, 0, 0.16);
    }
    #footer ul {
        list-style-position: inside;
        padding-left: 0px;
    }
    #footer li {
        padding-bottom: 1%;
        list-style: none;
        a {
            color: black;
        }
    }

    .join {
        img {
            width: 80%;
            margin: 3vh;
        }
        text-align: center;

    }

}

// 画面が大きい時
@media screen and (min-width: 701px) {
    #footer {
        background-color: white;
        border-top: 0;
        width: 100%;
        height: 50px;
        box-sizing: border-box;
        position: absolute;/* ←絶対位置 */
        bottom: 0;
        margin-top: 50px;
        display: table;
        box-shadow: 2px 0 6px 0 rgba(0, 0, 0, 0.16);
    }
    #footer ul {
        padding-left: 30px;
        display: table-cell;
        vertical-align: middle;
    }
    #footer li {
        list-style: none;
        float: left;
        padding-right: 10px;
        a {
            color: black;
        }
    }
    
    #footer p {
        padding-right: 1%;
        text-align: right;
        display: table-cell;
        vertical-align: middle;
    }

    .join {
        img {
            width: 50%;
            margin: 3vh;
        }
        text-align: center;

    }
}

#footer a:hover {
    color: blue;
}

.footer-p > .footer-span {
    display: inline-block;
}
.all-page-area-how{
	background-color: #751F88;
	min-height: 100vh;
	color: #FFF;
	font-family: 'Sawarabi Gothic', sans-serif;
	padding-bottom: 2%;
	padding-top: 1.5vw;
}
.all-page-area-how .all-page-how-area{
    margin: auto;
    width:90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.all-page-how-area img{
	margin: auto;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}.ivent_info-area{
	margin: auto;
	height: auto;
	padding: 2%;
	width: 95vw;
	border: solid 0.5px #FFF;
}

.contact {
    padding-bottom: 50vh;
}