.errors {
    text-align: center;
    padding-top: 5%;
}
.errors .errors-title {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 8px;
}
.errors .errors-title2 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 40px;
}