// Place all the styles related to the helps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.support {
    text-align: center;
}

.support h1 {
    padding-bottom: 1%;
}
.WordSection1 h1,h2 {
    text-align: center;
}