// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/*** VARS ***/

$main-col: #c8c;
$sec-col: lighten(#303f9f, 20%);
$back-col: #c5cae9;



/*** GENERAL STYLES ***/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-family: 'Dosis', sans-serif;
  background: $back-col;
  text-align: center;
}
.clear{clear:both;}


/*** CARD STLES ***/

.cards-container{
  width: 793px;
  max-width: 100%;
  margin: 2rem auto;
}
.card{
    margin: auto;
}

.card-one{
  position: relative;
  width: 300px;
  background: #fff;
  box-shadow: 0 10px 7px -5px rgba(#000,.4);
  
  header{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: $main-col;
    &::before, &::after{
      content: '';
      position: absolute;
      top: 0;bottom: 0;left: 0;right: 0;
      background: inherit;
    }
    &::before{
      -webkit-transform: skewY(-8deg);
      -moz-transform: skewY(-8deg);
      -ms-transform: skewY(-8deg);
      -o-transform: skewY(-8deg);
      transform: skewY(-8deg);
      -webkit-transform-origin: 100% 100%;
      -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      -o-transform-origin: 100% 100%;
      transform-origin: 100% 100%;
    }
    &::after{
      -webkit-transform: skewY(8deg);
      -moz-transform: skewY(8deg);
      -ms-transform: skewY(8deg);
      -o-transform: skewY(8deg);
      transform: skewY(8deg);
      -webkit-transform-origin: 0 100%;
      -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
      -o-transform-origin: 0 100%;
      transform-origin: 0 100%;
    }
    .avatar{
      position: absolute;
      left: 50%;
      top: 30px;
      margin-left: -50px;
      z-index: 5;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      background: #ccc;
      border:3px solid #fff;
      img{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100px;
        height: auto;
      }
    }
  }

  h3{
    position: relative;
    margin: 80px 0 30px;
    text-align: center;
    &::after{
      content: '';
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 1px;
      background: #000;
    }
  }
  .desc{
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    color: #777;
  }
  .contacts{
    width: 200px;
    max-width: 100%;
    margin: 0 auto 3rem;
    a{
      display: block;
      width: 33.333333%;
      float: left;
      text-align: center;
      color: $main-col;
      &:hover{
        color: #333;
        .fa{
          &::before{
            color: #fff;
          }
          &::after{
            width: 100%;
            height: 100%;
          }
        }
      }
      .fa{
        position: relative;
        width: 40px;
        height: 40px;
        line-height: 39px;
        overflow: hidden;
        text-align: center;
        font-size: 1.3em;
        &:before{
          position: relative;
          z-index: 1;
        }
        &::after{
          content: '';
          position: absolute;
          top: 50%; left: 50%;
          width: 0; height: 0;
          -webkit-transform: translate(-50%,-50%);
          -moz-transform: translate(-50%,-50%);
          -ms-transform: translate(-50%,-50%);
          -o-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          background: $main-col;
          -webkit-transition: width .3s, height .3s;
          -moz-transition: width .3s, height .3s;
          -ms-transition: width .3s, height .3s;
          -o-transition: width .3s, height .3s;
          transition: width .3s, height .3s;
        }
      }
      &:last-of-type .fa{line-height: 36px;}
    }
  }
  footer{
    position: relative;
    padding: 1rem;
    background-color: $sec-col;
    text-align: center;
    color: #fff;
    font-weight: bold;
    a{
      padding: 0 1rem;
      color: #e2e2e2;
      -webkit-transition: color .4s;
      -moz-transition: color .4s;
      -ms-transition: color .4s;
      -o-transition: color .4s;
      transition: color .4s;
      &:hover{
        color: $main-col;
      }
    }
    &::before{
      content: '';
      position: absolute;
      top: -27px;
      left: 50%;
      margin-left: -15px;
      border: 15px solid transparent;
      border-bottom-color: $sec-col;
    }
  }
}

/*** RESPONSIVE ***/

@media only screen and (max-width: 810px) {
  .card {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: #fff;
}

table tr{
border-bottom: solid 1px #eee;

transition: 0.3s;
}

table th,table td{
text-align: center;
width: 25%;
padding: 15px 0;
}


.Page-Areas{
	margin: auto;
	margin-top: 5%;
	width: 85%;
	margin-bottom: 10%;
 }
 .Page-Areas .Page-Titles{

	 font-size: 30px;
 }
 .Page-Areas .Page-Text{
	 font-size: 15px;
 }
 .Dashboard{
	 margin: auto;
   padding: 2%;
	 border: solid 1px #2d2d2d ;
	 height: auto;
	 background-color: #FFF;
	 margin-bottom: 10px;
	 border-radius: 5px;
 }
 .Dashboard .Dashboard-Panel{
	 margin: auto;
	 height: 95%;
	 width: 95%;
 }
 .Dashboard .Dashboard-DoubleGroup{
	margin: auto;
	margin-top: 10px;
	height: auto;
	margin-bottom: 10px;
	border-radius: 5px;

}

.Select-botun-home{
	margin: auto;
	width: 100%;
  height: auto;
	margin-bottom: 5%;
  border: 2px solid #2d2d2d;
  border-radius: 10px;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  padding: 10px;
 } 
 .Select-botun-home > a{
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #2d2d2d;
    background-color: #fff;
}
@media screen and (min-width: 768px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  .Page-Title{
      font-size: 10vw;
  }
  .Page-SubTitle{
      font-size: 5vw;
  }
  .Dashboard{
    align-items: flex-start;
    display: flex;
  }
}

.congrats {
  text-align: center;
  width: auto;
}

.congrats_title {
  margin-top: 2vh;
  font-size: x-large;
}
.prize_name {
  font-size: large;
}

.comming {
  text-align: center;
  padding-top: 5%;
  font-family: "Hannari";
}



.qr-title {
  border-bottom: solid 1px;
  font-size: larger;
  text-align: center;
}
.qr-txt {
  text-align: center;
}






@media only screen and (min-width: 800px) {
  .banner {
    width: 50%;
    margin: 1vh 0;
    height: auto;
  }

  .stamp-block {
    user-select: none;
    width: 40rem;
    height: 55rem;
    position: relative;
    perspective: 800px;
    border-radius: 5px;
    margin: 0 auto;
    
  }
  
  .stamp-card table {
    box-sizing: border-box;
    margin: 20px auto;
    border-collapse: collapse;
  }

}
@media only screen and (max-width: 799.9px) {
  .banner {
    width: 80%;
    margin: 1vh 0;
    height: auto;
  }

  .stamp-block {
    user-select: none;
    width: 17rem;
    height: 27rem;
    margin: auto;
    position: relative;
    perspective: 800px;
    border-radius: 5px;
    margin: 0 auto;
  }
  
  .stamp-card table {
    position: absolute;
    table-layout: fixed;
    margin: auto;
    width: 100%;
    border-collapse: collapse;
  }
}
    
.stamp-card .stamp_img {
  width: 80%;
  object-fit: cover;
}



.stamp-card {
	/* スタンプが横にはみ出ないように */
	overflow: hidden;
}
.stamp-card th, .stamp-card td {
	text-align: center;
	border: 1px solid #fc0;
}

.stamp-card thead .stamp_img {
  width: 40%;
}


.stamp-item {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    cursor: pointer;
}
.stamp-item .stamp-card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #47525d;
}

.stamp-item .stamp-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #47525d;
}
.stamp-item .front, .stamp-item .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 6px;
  background: #fff;
  display: block;
  justify-content: center;
  align-items: center;
  color: #47525d;
}
.stamp-item .back {
    transform: rotateY(180deg);
}
.stamp-item.flipped {
    transform: rotateY(180deg);
}