// Place all the styles related to the quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.circle-maru{
    margin: auto;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    display: inline-block;
    width: 18rem;
    height:18rem;
    text-align:center;
    line-height: 80px;
    border-radius: 50%;
    border: solid 25px rgb(255, 67, 67);
}
.batu{
    margin: auto;
    margin-top: -0.5em;
    margin-bottom: -0.2em;
    font-size: 22rem;
    font-weight: bold;
    color: rgb(255, 67, 67);
}

@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用*/
  .circle-maru{
    width: 8rem;
    height: 8rem;
    border: solid 15px rgb(255, 67, 67);
  }
  .batu{
    font-size: 12rem;
}
}