.tyusen-top {
    text-align: center;
    padding: 3rem 0 2rem 0;
}

.qrcode-area {
    width: 15rem;
    text-align: center;
    margin: auto;
    border: 0.5px solid;
    border-radius: 20px;
    background-color: white;
}
