<p>工学院クリスマスウィーク Web参加型企画<br>
Xmas Week実行委員会です。</p>

<p>登録手続きはまだ完了しておりません。</p>
<p>以下のリンクをクリックして、メールアドレスを認証してください。</p>

<p><%= link_to '認証する', confirmation_url(@resource, confirmation_token: @token) %></p>
<p>※有効期限は今から24時間となっております。</p>


<p>---------------------------<br>
Xmas Week実行委員会<br>
TEL(Act代表)：070-8302-1879<br>
MAIL：info@act-neec.org<br>
学生委員会"Act"学生サポート窓口<%= link_to '(公式LINE)', "https://lin.ee/FlZAWwl" %><br>
---------------------------<br>

<p>【ご注意】<br>
※このメールは自動送信です。<br>
※このメールにお心当たりの無い場合は、このメールを破棄してください。</p>
