<p><%= @resource.email %> 様</p>

<p>学生委員会"Act"です。</p>

<p>パスワードが変更されましたのでお知らせします。</p>

<p>---------------------------------------<br>
「自慢できる思い出を、経験を」<br>
学生委員会"Act"<br>
～メンバー募集中！！ 詳しくは下記URLへアクセス～<br>
https://www.act-neec.org<br>
TEL(Act問い合わせ窓口)：<a href="tel:070-8988-2832">070-8988-2832</a><br>
MAIL：<a href="mailto:info@act-neec.org">info@act-neec.org</a><br>
---------------------------------------</p>

<p>【ご注意】<br>
※このメールは自動送信です。<br>
※このメールにお心当たりの無い場合は、このメールを破棄してください。</p>
