<footer id="footer">
    <ul>
        <li><a href="/contact">お問い合わせ先</a></li>
        <li><a href="/mmmf_terms">利用規約</a></li>
    </ul>
    <p class="footer-p"><span class="footer-span">produced by 学生委員会"Act"</span></p>
</footer>