<footer id="footer">
    <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/support">お問い合わせ先</a></li>
        <li><a href="/mmmf_terms">利用規約</a></li>
    </ul>
    <p class="footer-p">Xmas Week実行委員会  <span class="footer-span">produced by 学生委員会"Act"</span></p>
</footer>