<div class="all-page-area-how">
	<div class="ivent_info-area">
		<div class="all-page-title">
			How to Join ?
		<div class="all-page-title-sub">
			WEB参加型企画
		</div>
		<div class="all-page-title-subtext">
			- キャンパス内を探索し、ポイントを集めて豪華景品をGET! -
		</div>
		</div>
		<div class="all-page-how-area">
		<%= image_tag "/images/howto.png", alt: "howto phot", class: "image"%>
		</div>
	</div>
</div>