<div class="all-page-area-how">
	<div class="ivent_info-area">
		<div class="all-page-how-area">
		<div style="text-align: center">
		<%= link_to image_tag('/images/tyuusen-03.png', class: "banner"), "https://youtu.be/0PHjgY7cI-k" %>
		</div>
		<%= image_tag "/images/tyuusen_1.png", alt: "phot", class: "image"%>
		</div>
	</div>
</div>